@import '../../sassStyles/_mixins'
@import '../../sassStyles/_variables'
    
.card.card-container
    @include card-container

.spacing
    padding: 0 18px

svg
    margin-bottom: 5px

.middle-align
    text-align: center

.temp
    font-size: 40px
    @include bold-text

.weather-bottom
    margin-bottom: $main-spacing


@media (min-width: 992px) 
    .right-align
        text-align: right