.top-bar
    margin-bottom: 15px
    // background-color: #957dad
    
    padding: 10px 0 5px 25px
    color: black
    // box-shadow: 0 1px 5px #888888

.top-desc-container
    vertical-align: middle
    font-size: 20px

    svg
        margin: 0 5px 5px 0
